.python-version
*.DS_Store
__pycache__/
Document/*.aux
Document/*.log
Document/*.dvi
Document/*.blg
Document/*.bcf
Document/*.xml
Document/*.bbl
Document/*.out
Document/*.toc
Document/*.synctex.gz
Document/*.fdb_latexmk
Document/*.fls
